@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html,
body {
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  text-align: center;
  padding: 2rem;
  background-color: rgb(119, 119, 215);
  border-radius: 12px;
}
.mb-1 {
  /* height: 20%; */
  margin-bottom: 15px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 25px;
}
.mb-4 {
  margin-bottom: 30px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid lightGray;
}
.sig-in-btn {
  background-color: #5e5ef7;
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  box-shadow: 6px 4px rgba(0, 0, 0, 0.5);
}
.create-acount-btn {
  background-color: white;
  border: 1px solid lightGray;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 6px 4px rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
  color: gray;
}
.create-account {
  font-weight: bold;
  color: black;
}
.center-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url(./background.jpg);
}
.container {
  height: 100vh;
  width: 80%;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  font-size: 16px;
  color: white;
}
a {
  color: rgb(0, 0, 0);
}
.passicon {
  width: 100%;
  height: 100vh;
}
.span {
  width: 10%;
  height: 10%;
}
.icon {
  padding: 0px;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
}
.eye {
  width: 13%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
}
.text-icon {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}
