@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html,
body {
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 66vh;
  min-width: 20vw;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  background-color: rgb(116, 116, 227);
  border-radius: 12px;
}.login-form-admin {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 60vh;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  background-color: rgb(116, 116, 227);
  border-radius: 12px;
}
.login-form-changePass {
  display: flex;
  flex-direction: column;
  height: 72vh;
  width: 62vh;
  text-align: center;
  padding: 2rem;
  background-color: rgb(243, 241, 251);
  border-radius: 0px 12px 12px 0px;
}
.login-form-userProfile {
  display: flex;
  flex-direction: column;
  height: 72vh;
  width: 52vh;
  text-align: flex-start;
  justify-content: center;
  padding-left: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px 0px 0px 12px;

}
.rowAlign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mb-1 {
  /* height: 20%; */
  margin-bottom: 15px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 25px;
}
.mb-4 {
  margin-bottom: 30px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid lightGray;
}
.sig-in-btn {
  background-color: #5e5ef7;
  border: 0;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  box-shadow: 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.create-acount-btn {
  background-color: white;
  border: 1px solid lightGray;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.trophy{
  height:24px;
  width:24px;
  margin-right: 12px;
}
.navbar-button {
  text-decoration: none;
  color: black;
}
.navbar-buttonM {
  text-decoration: none;
  color: black;
}
.create-account {
  font-weight: bold;
  color: black;
}
.center-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-image: url(./background.jpg);
}
.center-formProfile {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url(./background.jpg);
  /* background: repeat; */
  object-fit: fill;
}
.containerLogin {
  height: 80vh;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 4px;
  padding-bottom: 4px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
  text-align: left;
  /* padding-left: 12px; */

}
.containerAdminLogin {
  height: 40vh;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 4px;
  padding-bottom: 4px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
  text-align: left;
  /* padding-left: 12px; */

}
.containerProfile{
  height: 68%;
  width: 100%;
  /* padding: 12%; */
  padding-left: 12px;
  padding-right: 12px;

  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow-y: scroll;
  text-align: left;
  
  


  /* padding-left: 12px; */

}
.container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 800px) {
  .login-form-userProfile {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 42vh;
    text-align: flex-start;
    justify-content: center;
    /* padding-left: 2rem; */
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 0px 0px;
  
  }
  .login-form-changePass {
    display: flex;
    flex-direction: column;
    height: 74vh;
    width: 42vh;
    text-align: center;
    /* padding: 2rem; */
    background-color: rgb(243, 241, 251);
    border-radius: 0px 0px 12px 12px ;
  }
  .center-formProfile {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./background.jpg);
    /* background: repeat; */
    object-fit: fill;
    /* padding-top: 24px; */

  }
}
h1 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif
}
.label{
  font-size: 16px;
  color: black;
  padding: 0%;
  margin: 0%;
}

.passicon {
  width: 100%;
  height: 100vh;
}
.span {
  width: 10%;
  height: 10%;
}
.icon {
  padding: 0px;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
}
.eye {
  width: 13%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
}
.text-icon {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}
.admin{
  width:10%;
  height:5%;

}
.profileInput{
  width: 60%;
  text-align: center;
}
.contentTitle{
  width: 54%;
  color:#686565;
  font-size: 20px;

}
.contentInfo{
  width: 54%;
  color:#000000;
  font-size: 22px;
  font-weight: 600;

}
.contentContainer{
  display: flex;
  flex-direction: row;
}