*{
  padding: 0%;
  margin: 0%;
}

.containerHome{
  width: 99.1vw;
  height: 100vh;
  background-image: url("./pictures/fyphome.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.card1{
  width: 55%;
  height:40%;
  border: 2px black solid;
  border-radius: 8px;
  background-image: url("./pictures/card1.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.card2{
  width: 55%;
  height:40%;
  border: 2px black solid;
  border-radius: 8px;
  background-image: url("./pictures/yoga.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.a{
  width: 100%;
  height: 20%;
  color: white;
  cursor: pointer;
}
.a:hover{
  background-color: transparent;

}